.bg_video {
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  margin: 8rem;
  font-size: 1.5rem;
  z-index: 999999;
}

.links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 0 0;
  z-index: 999;
}

.name {
  text-shadow: 1px 1px blue, 2px 2px red, 3px 3px orange;
}

@media only screen and (max-width: 400px) {
  .videoContainer {
    visibility: hidden;
  }
  .main {
    margin: 3rem 2rem 0rem 2rem;
    font-size: 1rem;
  }
  .links {
    width: 100%;
  }
}
